<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  </head>

  <body style="margin: 20px;">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
             <h1>Your JWF token is<h1>
             <h2>{{.token}}<h2>
      </div>
    </div>
  </body>
</html>